@tailwind components;
@tailwind utilities;
@tailwind base;

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

@font-face {
  font-family: HannotateSC;
  src: url("/fonts/hannotate-sc-regular.otf");
  format: ("otf");
  font-display: swap;
}
